<h1>Secrets Index Page</h1>
<% @secrets.each do |s| %>
	<% temp_user = @users.find(s.user_id) %>
	<p>"<%= s.content %>"</p>
	<p><%= s.likes.count %> likes</p>
	<% if Like.find_by(user_id: session[:user_id], secret_id: s.id) %>
		<form action="/secrets/unlike" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="secret_id" value="<%= s.id %>">
			<input type="submit" value="Unlike">
		</form>
	<% else %>
		<form action="/secrets/like" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="secret_id" value="<%= s.id %>">
			<input type="submit" value="Like">
		</form>
	<% end %>
	<% if temp_user.id == session[:user_id] %>
		<form action="/secrets/<%= s.id %>" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="_method" value="delete">
			<input type="hidden" name="secret_id" value="<%= s.id %>">
			<input type="submit" value="Delete">
		</form>
	<% end %>
<% end %>